.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(216, 73, 73, 0.2); */
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 6px;
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: orange;
  /* padding: 8px 14px; */
  height: 40px;
  width: 40px;
  text-decoration: none !important;
  transition: background-color 0.2s;
  border: 1px solid orange;
  cursor: pointer;
  margin: 2px;
}

.pagination-container a.active {
  background-color: white;
  color: orange;
}

.pagination-container a.disabled {
  opacity: 0.2;
}
.pagination-container a:hover:not(.active) {
 color:white;
}
