.content {
    display: flex;
    flex-flow: column nowrap;
    .card-section {
        flex-direction: row;
        width: 354px;
        margin: 3px auto;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: hidden;
        flex-flow: row wrap;
        .wrapper {
            display: flex;
            width: 1000px;
            .inner-card-section {
                display: flex;
                height: 90px;
                width: 50%;
                background-color: white;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                border: 1px solid rgb(223, 224, 235);
                .inner-top-text {
                    justify-content: center;
                    height: 20px;
                }
            }
        }
    }
    .master-card-transaction-history {
        display: flex;
        flex-flow: column nowrap;
        padding: 7px;
        margin-bottom: 40px;
        width: 100%;
        .master-card {
            width: 100%;
            height: 400px;
            background-color: #fff2e5;
        }
        .transaction-history {
            margin: 0 auto;
            width: 90%;
            height: 400px;
            background-color: white;
            display: flex;
            flex-direction: column;
            .transaction-history-see-all {
                padding: 5px;
                display: flex;
                flex-direction: row;
                font-size: 0.7rem;
                color: #414042;
                justify-content: space-between;
            }
            .trans-history-list {
                overflow-x: auto;
                .trans-history {
                    display: flex;
                    height: 70px;
                    flex-direction: row;
                    .name-picture {
                        display: flex;
                        flex-direction: row;
                        width: 35%;
                        font-size: 0.65rem;
                        .name-address {
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .history {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        width: 60%;
                        .history-type {
                            display: flex;
                            font-size: 0.65rem;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            width: 95%;
            display: flex;
            flex-flow: row wrap;
            margin: 15px auto;
            .wrapper {
                display: flex;
                width: 100%;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: row;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin-right: 20px;
                background-color: white;
                display: flex;
            }
        }
    }
}

.dot {
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

@media (min-width: 400px) and (max-width: 500px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            flex-direction: row;
            width: 400px;
            margin: 3px auto;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            flex-flow: row wrap;
            .wrapper {
                display: flex;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: column;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin-right: 20px;
                background-color: white;
                display: flex;
            }
        }
    }
}



@media (min-width: 501px) and (max-width: 600px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            flex-direction: row;
            width: 500px;
            margin: 3px auto;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            flex-flow: row wrap;
            .wrapper {
                display: flex;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: row;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin-right: 20px;
                background-color: white;
                display: flex;
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            flex-direction: row;
            width: 600px;
            margin: 3px auto;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            flex-flow: row wrap;
            .wrapper {
                display: flex;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: row;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin-right: 20px;
                background-color: white;
                display: flex;
            }
        }
    }
}

@media (min-width: 701px) and (max-width: 768px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            flex-direction: row;
            width: 730px;
            margin: 3px auto;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            flex-flow: row wrap;
            .wrapper {
                display: flex;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: row;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin-right: 20px;
                background-color: white;
                display: flex;
            }
        }
    }
}



@media (min-width: 769px) and (max-width: 776px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            flex-direction: row;
            width: 630px;
            margin: 3px auto;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            flex-flow: row wrap;
            .wrapper {
                display: flex;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: row;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin-right: 20px;
                background-color: white;
                display: flex;
            }
        }
    }
}

@media (min-width: 777px) and (max-width: 800px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            flex-direction: row;
            width: 530px;
            margin: 3px auto;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            flex-flow: row wrap;
            .wrapper {
                display: flex;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: row;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin-right: 20px;
                background-color: white;
                display: flex;
            }
        }
    }
}



@media (min-width: 801px) and (max-width: 900px) {
    .content {
        display: flex;
        flex-flow: column wrap;
        .card-section {
            flex-direction: row;
            width: 530px;
            margin: 3px auto;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            flex-flow: row wrap;
            .wrapper {
                display: flex;
                .inner-card-section {
                    display: flex;
                    height: 90px;
                    width: 25%;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(223, 224, 235);
                }
            }
        }
        .master-card-transaction-history {
            margin-top: 30px;
            display: flex;
            flex-flow: column;
            margin-left: 30px;
            width: 100%;
            .master-card {
                flex: 0 0 45%;
                height: 400px;
              
                background-color: #fff2e5;
            }
            .transaction-history {
                flex: 1 0 40%;
                height: 400px;
                margin: 10px;
                background-color: white;
                display: flex;
            }
        }
    }
}


