@mixin button($width, $bgcolor) {
    background-color: $bgcolor;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 0.6rem;
    display: inline-block;
    margin: 4px 2px;
    width: $width;
    margin: 0 auto;
    height:'50px';
    cursor: pointer;
}

.subscription {
    .subscription-packages {
        color: #f7941d;
        padding: 20px;
    }
    .package {
        display: flex;
        width: 85%;
        justify-content: space-between;
        font-size: 0.7rem;
        padding: 20px;

        flex-wrap: wrap;
        .plans {
            p {
                margin: 8px;
            }
            border-radius: 4px;
            display: flex;
            width: calc(100% / 2 - 5px);
            margin-bottom: 5px;
            background-color: #fff2e5;
            flex-direction: column;
            text-align: center;
            height: 350px;
            .button {
                @include button(80%, #f7941d);
            }
            .fasta {
                color: #f7941d;
            }
            .amount {
                font-size: 1.5rem;
                font-weight: 900;
                height: 30px;
                font-style: normal;
            }
        }
    }
    .subscription-history {
        .subscription-history-label {
            color: #f7941d;
            padding: 20px;
        }
    }
}

@media (max-width: 590px) {
    .subscription {
        .subscription-packages {
            color: #f7941d;
            padding: 20px;
        }
        .package {
            display: flex;
            margin: 0 auto;
            width: 90%;
            justify-content: space-between;
            font-size: 0.7rem;
            flex-direction: column;
            padding: 20px;
            .plans {
                p {
                    margin: 8px;
                }
                border-radius: 4px;
                display: flex;
                width: 100%;
                background-color: #fff2e5;
                flex-direction: column;
                text-align: center;
                height: 350px;
                .button {
                    @include button(80%, #f7941d);
                }
                .fasta {
                    color: #f7941d;
                }
                .amount {
                    font-size: 1.5rem;
                    font-weight: 900;
                    height: 30px;
                    font-style: normal;
                }
            }
        }

        .subscription-history {
            .subscription-history-label {
                color: #f7941d;
                padding: 20px;
            }
        }
    }
}

@media (max-width: 590px) {
    .table-button {
        @include button(100%, #1abc9c);
    }
}
@media (min-width: 590px) {
    .table-button {
        @include button(50%, #1abc9c);
    }
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color:white;
    border:white;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;

}
tr{
    height: 60px;
}
tr:nth-child(even) {
    background-color: #FFF2E5;
}

tr:hover {
    background-color: #ddd;
}


table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        height: 303px;
        border-bottom: 3px solid white;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.table-button {
    @include button(100%, #1abc9c);
}
