.side-menu{
display: flex;
flex-flow: row nowrap;
height: '100%';
min-height: '100vh'

}
.mainContainer-menu { 
    height: 100%;
    min-height: 100vh;
}

.mainContainerMobile-menu {
    position: absolute;
    top: 0;
    left: 0;
}

.mainContainerExpanded{
    width: 100%;
    min-width: 100vh;
}
.containerMobile{
    transition: left 0.5s, right 0.5s;
    position: absolute;
    width: 255;
    height: 100vh;
    z-index: 901;
}


.hide {
    left: -255px
}
.show {
    left: 0px
}
