.update-button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: "Muli";
    font-size: 0.6rem;
    display: inline-block;
    margin: 4px 2px;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}
