.profile-section {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    margin: 0px 5px 10px 3px;
    justify-content: space-between;
    .pic-section {
        height: 350px;
        margin-left: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navigation-section {
        height: 440px;
        margin-left: 20px;
        margin-top: 10px;
        color: gray;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
}


.active{
    color: orange;
}