.autoshop {
    display: flex;
    flex-direction: row;
    background-color: #fff2e5;
    height: 100vh;
    .navigation-section {
        height: 200px;
        width: 30%;
        font-size: 0.69rem;
        color: #696a7d;
        background-color: white;
        margin: 30px;
        .active-button {
            color: orange;
        }
        .inactive-button {
            color: #696a7d;
        }
        a {
            text-decoration: none;
        }

        div {
            display: flex;
            flex-direction: column;
            padding: 30px;
            height :220px;
            justify-content: space-between;
        }
        a :active {
            color: orangered;
        }
        a {
            cursor: pointer;
        }
    }

    .show-glass {
        .subscription-history-label {
            color: #f7941d;
            padding: 20px;
            font-weight: 900;
        }
        margin: 30px 20px 30px 0px;
        flex: 1 1 85%;
        flex-direction: row;
        height: 600px;
        background-color:#E5E5E5;
        .item-card-section {
            display: flex;
            flex-wrap: wrap;
            .item-card {
                display: flex;
                margin: 0px 5px 10px 18px;
                flex-direction: column;
                height: 200px;
                width: 43%;
                border-radius: 30px 20px 0px 0px;
                background-color: white;
                font-size: 0.6rem;
                .picture-section {
                    flex: 1 1 30%;
                    border-radius: 14px 14px 0px 0px;
                }
                .item-details {
                    flex: 0 0 20%;
                    display: flex;
                    flex-direction: column;
                    .rating-section {
                        .rating {
                            padding: 5px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            color: orange;
                            flex-wrap: nowrap;
                            height: 9px;
                        }
                    }
                }
            }
        }
    }
}
