$primary-color: #009e6c;
$error-color: #e70f0f;
$border-color: #eee;

.form {
    padding-top: 40px;

    &__group {
        margin: 20px;
        width: 90%;

        label,
        p {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
        }

        &--radio,
        &--checkbox {
            label {
                display: inline-flex;
                align-items: center;
                margin-right: 15px;

                span {
                    margin-left: 5px;
                }
            }
        }

        input[type="text"],
        input[type="password"],
        input[type="file"],
        textarea,
        select {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid $border-color;
            outline: 0;
            transition: box-shadow 0.3s ease;

            &:focus {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            &.error {
                border-color: $error-color;
            }
        }
    }

    &__error {
        color: $error-color;
        font-size: 12px;
        padding: 5px 0;
        display: block;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.add-profile-container {
    .subscription-history-label {
        color: #f7941d;
        padding: 20px;
    }
    .arrange {
        display: flex;
        flex-direction: row;
        .profile-section {
            flex: 0 0 40%;
            display: flex;
            flex-direction: column;
            margin: 10px 5px 10px 3px;
            justify-content: space-between;
            .pic-section {
                height: 350px;
                margin-left: 20px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .navigation-section {
                height: 350px;
                margin-left: 20px;
                margin-top: 20px;
                color: gray;
                background-color: white;
                display: flex;
                flex-direction: column;
            }
        }
        .form-section {
            flex: 1 0 0 90%;
            margin:  10px 20px 10px 3px;
            
        }

        .submit-button {
            background-color: orange; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            width: 50%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
}
